@model QuanLySinhVien_CuoiKi.Models.HocPhan

@{
    ViewData["Title"] = "QUẢN LÝ HỌC PHẦN";
}

<h1 class="title">CHI TIẾT HỌC PHẦN</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Mã học phần
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaHocPhan)
        </dd>
        <dt class = "col-sm-2">
            Tên học phần
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenHocPhan)
        </dd>
        <dt class = "col-sm-2">
            Số tín chỉ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTinChi)
        </dd>
        <dt class = "col-sm-2">
            Mã giáo viên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaGvNavigation.MaGv)
        </dd>
        <dt class = "col-sm-2">
           Khoa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKhoaNavigation.MaKhoa)
        </dd>
    </dl>
</div>
<div>
    <a class="buttoncuston" asp-action="Edit" asp-route-id="@Model?.MaHocPhan">Sửa</a> 
    <a class="buttoncuston" asp-action="Index">Trở về</a>
</div>
