@model IEnumerable<QuanLySinhVien_CuoiKi.Models.HocPhan>

@{
    ViewData["Title"] = "QUẢN LÝ HỌC PHẦN";
}

<h1 class="title">THÊM MỚI HỌC PHẦN</h1>

<p>
    <a class="buttoncuston" asp-action="Create">Thêm mới học phần</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên học phần
            </th>
            <th>
                Số tín chỉ
            </th>
            <th>
                Mã giáo viên
            </th>
            <th>
                Khoa
            </th>
            <th>Thao tác quản lý</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenHocPhan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoTinChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaGvNavigation.MaGv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaKhoaNavigation.MaKhoa)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.MaHocPhan">Chi tiết</a> |
                    <a asp-action="Edit" asp-route-id="@item.MaHocPhan">Sửa</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaHocPhan">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
