@model IEnumerable<QuanLySinhVien_CuoiKi.Models.Khoa>

@{
    ViewData["Title"] = "QUẢN LÝ KHOA";
}

<h1 class="title">QUẢN LÝ KHOA</h1>

<p>
    <a class="buttoncuston" asp-action="Create">Thêm mới khoa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên khoa
            </th>
            <th>
                Trường
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenKhoa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaTruongNavigation.MaTruong)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.MaKhoa">Chi tiết</a> |
                    <a asp-action="Edit" asp-route-id="@item.MaKhoa">Sửa</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaKhoa">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
