@model QuanLySinhVien_CuoiKi.Models.GiaoVien

@{
    ViewData["Title"] = "QUẢN LÝ GIÁO VIÊN";
}

<h1 class="title">CHI TIẾT GIÁO VIÊN</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Mã giáo viên
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaGv)
        </dd>
        <dt class = "col-sm-2">
            Họ và tên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenGv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            SĐT
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
        <dt class = "col-sm-2">
            Bộ môn
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoMon)
        </dd>
        <dt class = "col-sm-2">
            Khoa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKhoaNavigation.MaKhoa)
        </dd>
    </dl>
</div>
<div>
    <a class="buttoncuston" asp-action="Edit" asp-route-id="@Model?.MaGv">Sửa</a>
    <a class="buttoncuston" asp-action="Index">Trở về</a>
</div>
