@model IEnumerable<QuanLySinhVien_CuoiKi.Models.GiaoVien>

@{
    ViewData["Title"] = "QUẢN LÝ GIÁO VIÊN";
}

<h1 class="title">QUẢN LÝ GIÁO VIÊN</h1>

<p>
    <a class="buttoncuston" asp-action="Create">Thêm mới giáo viên</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Họ và tên
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                SĐT
            </th>
            <th>
                Bộ môn
            </th>
            <th>
                Khoa
            </th>
            <th>Thao tác quản lý</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenGv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoDienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoMon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaKhoaNavigation.MaKhoa)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.MaGv">Chi tiết</a> |
                    <a asp-action="Edit" asp-route-id="@item.MaGv">Sửa</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaGv">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
