@model QuanLySinhVien_CuoiKi.Models.LopHocPhan

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LopHocPhan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHocPhanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHocPhanNavigation.MaHocPhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSvNavigation.MaSv)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaSv" />
        <input type="hidden" asp-for="MaHocPhan" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
