@model QuanLySinhVien_CuoiKi.Models.LopHocPhan

@{
    ViewData["Title"] = "QUẢN LÝ LỚP HỌC PHẦN";
}


<h1 class="title">CHI TIẾT LỚP HỌC PHẦN</h1>

<div>
    <h4>LopHocPhan</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            Mã học phần
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHocPhanNavigation.MaHocPhan)
        </dd>
        <dt class = "col-sm-2">
            Mã sinh viên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSvNavigation.MaSv)
        </dd>
        <dt class="col-sm-2">
            Điểm
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Diem)
        </dd>
    </dl>
</div>
<div>
    <a class="buttoncuston" asp-action="Edit" asp-route-maSv="@($"{Model.MaSv}")" asp-route-maHocPhan="@($"{Model.MaHocPhan}")">Sửa</a>
    <a class="buttoncuston" asp-action="Index">Trở về</a>
</div>
