@model IEnumerable<QuanLySinhVien_CuoiKi.Models.SinhVien>

@{
    ViewData["Title"] = "QUẢN LÝ SINH VIÊN";
}

<h1 class="title">QUẢN LÝ SINH VIÊN</h1>

<p>
    <a class="buttoncuston" asp-action="Create">Thêm mới sinh viên</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Họ và tên
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                Giới tính
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                SDT
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Lớp sinh hoạt
            </th>
            <th>Thao tác quản lý</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GioiTinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoDienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaLopShNavigation.MaLopSh)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.MaSv">Chi tiết</a> |
                    <a asp-action="Edit" asp-route-id="@item.MaSv">Sửa</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaSv">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
